body{
    background-color: #F1F1F1;
}
header{
    margin: 0px 480px 0px 415px;
}
.card{
    width: 290px;
    height: 350px;
    background-color: white;
    padding: 10px;
    margin: 15px;

}
img{
    width: 290px;
    height: 150px;
}
#Carros{
    display: flex;
    position: relative;
    left: 400px;
}
#Frutas{
    display: flex;
    position: relative;
    left: 400px;
}
#Pessoas{
    display: flex;
    position: relative;
    left: 400px;
}
#actived{
    background-color: #515151;
    padding: 15px;
}
button{
    background-color: #909090;
    padding: 15px;
    color: white;
    border: none;
}