@media (min-width: 480px) {
    body {
        background-color: rgb(243, 209, 197);
        font-family: Arial, Helvetica, sans-serif;
        
    } 
    a{
        padding: 15px;
        background-color: rgb(240, 166, 140);
        color: black;
        text-decoration: none;
        border: solid 1px black;
        border-radius: 10px;
        justify-content: center;
    }
    section{
        width: 340px;
        height: 200px;
        background-color: brown;
        padding: 15px;
        margin: 25px 10px 10px 10px;
    }

    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
     h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px 50px 50px 50px;
  }
  nav{
    text-align: center;
  }

}

@media (min-width: 768px) {
    body {
        background-color: rgb(240, 166, 140);
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        padding: 15px;
        background-color: rgb(240, 113, 67);
        color: black;
        text-decoration: none;
        border: solid 1px black;
        border-radius: 10px;
    }
        section{
        width: 340px;
        height: 200px;
        background-color: brown;
        padding: 15px;
        margin: 25px 10px 10px 10px;
    }

    main{
        display: flex;
        flex-wrap: wrap;
    }
     h1 {
    padding-left: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px 50px 50px 50px;
  }
}




@media (min-width: 1024px) {
    body {
        background-color: rgb(240, 113, 67);
        font-family: Arial, Helvetica, sans-serif;
    }
    a{
        padding: 15px;
        background-color: rgb(240, 166, 140);
        color: black;
        text-decoration: none;
        border: solid 1px black;
        border-radius: 10px;
}
    section{
        width: 340px;
        height: 200px;
        background-color: brown;
        padding: 15px;
        margin: 25px 10px 10px 10px;
    }
}
    main{
        display: flex;
        flex-direction: row;
    }
     h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px 50px 50px 50px;
  }
 